.card {
  background: var(--article-bg);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border: 1px solid var(--accent-color);
}

.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem;
}

.tags span {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  transition: all 0.2s;
}

.cta {
  display: flex;
  gap: 1rem;
}

.underline {
  padding: 0.2rem 0;
  font-size: 0.9rem;
  letter-spacing: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    var(--accent-color) 100%,
    var(--accent-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline:hover {
  background-size: 100% 88%;
}

.projectName {
  font-size: 1.4rem;
  line-height: 12px;
}

.projectDesc {
  font-size: 0.6rem;
}

.tags span {
  font-size: 1;
}

.cta {
  margin-top: auto;
}

@media screen and (min-width: 400px) {
  .card {
    height: 280px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 200px) {
  .card {
    height: 300px;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  .tags span {
    font-size: 0.8rem;
  }
}
