.terminal {
  border-top: 1px solid lightgray;
  height: 120px;
  position: fixed;
  bottom: 31px;
  width: 89%;
  background-color: #1f2428;
  zoom: 0.9;
}

.terminal_header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2428;
  color: #ffffff;
}

.tabs p {
  margin: 0 10px;
  font-size: x-small;
  color: silver;
}

.underlined {
  border-bottom: 1px solid #ffffff;
  margin: 0 10px;
  font-size: x-small;
  color: silver;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2428;
  color: rgba(255, 255, 255, 0.62);
  margin-left: 500px;
  align-self: flex-end;
}

.options > * {
  margin: 0 3px;
}

.firstLine {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #1f2428;
  margin-top: 6px;
}

.secondLine {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #1f2428;
  margin-top: 6px;
}

.thirdLine {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #1f2428;
  margin-top: 6px;
}

.fourthLine {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #1f2428;
  margin-top: 6px;
}

.fifthLine {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #1f2428;
  margin-top: 6px;
}

.green {
  color: #40ee68;
  margin-left: 10px;
}

.white {
  color: rgba(192, 192, 192, 0.883);
  margin-left: 10px;
}

.blue {
  color: #00bfff;
  margin-left: 10px;
}

.purple {
  color: #ff00ff;
  margin-left: 10px;
}

.noSpace {
  font-weight: bold;
  color: rgba(192, 192, 192, 0.87);
}

.path {
  color: #00bfff;
}
