@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");

.titlebar {
  background-color: var(--titlebar-bg);
  height: 26px;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85rem;
  border-bottom: 1px solid #191d20;
  color: #fff;
}

.navbar_items {
  flex: 1;
  display: flex;
  margin-right: auto;
  margin-left: 0.5rem;
  zoom: 0.9;
}

.navbar_items > * {
  padding: 0.5rem;
  cursor: pointer;
}

.title {
  text-align: center;
  flex: 1;
  zoom: 0.9;
}

.window_btns {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: auto;
  zoom: 0.9;
}

.vsicon {
  left: 4px;
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: auto;
  display: block;
  width: 16px;
  height: 16px;
}

.window_btns * {
  margin-left: 0.5rem;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  cursor: pointer;
}

.minimize {
  background: #f1fa8c;
  margin-left: auto;
}

.maximize {
  background: #50fa7b;
}

.close {
  background: #ff5555;
}
@media screen and (max-width: 900px) {
  .items p {
    display: none;
  }
  .title {
    flex: 4;
  }
}

@media screen and (max-width: 450px) {
  .title {
    display: none;
  }
  .navbar_items {
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .titlebar {
    width: 120vw;
  }
}
